body{
    font-family: 'Crimson Text', serif;
    margin: 0 auto;
}


.headdesign{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#304879 , #8AA7E0 , #EEA7E3 );
    position: absolute;
    display: flexbox;
}
.searchbtn {
    width: 20vw; /* Use relative unit */
    height: 7vh; /* Use relative unit */
    z-index: 2;
    border-radius: 5vh;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 2%;
    border-color: bisque;
    border-width: 1px;
}

.state {
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 46%;
    top: 5%;
    font-size: 6vh;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    display: grid;
    align-items: center;
  }
  

.time{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 48%;
    top: 14%;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.container1{
    position: absolute;
    left: 34%;
    top: 24%;
    width: 38%;
    height: 30%;
    background-image: linear-gradient(#15255e , #A8D7DA);
    mix-blend-mode: soft-light;
    z-index: 2;
    border-radius: 10px;
}

.container2{
    position: absolute;
    left: 40%;
    top: 57%;
    width: 25%;
    height: 16%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;   
    white-space: nowrap;
    flex: content;
}

.container3{
    position: absolute;
    left: 40%;
    top: 80%;
    width: 9%;
    height: 18%;
    background-image: linear-gradient(#d4c2c2 , #6d388b);
    border-radius: 10px;    
}

.container4{
    position: absolute;
    left: 50%;
    top: 80%;
    width: 9%;
    height: 18%;
    background-image: linear-gradient(#fafafa , #eeeeee);
    border-radius: 10px;   
}

.container5{
    position: absolute;
    left: 60%;
    top: 80%;
    width: 9%;
    height: 18%;
    background-image: linear-gradient(#fafafa , #eeeeee);
    border-radius: 10px;    
}

.today{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 40%;
    top: 72%;
    font-weight: 900;
    font-size: 20px;
    text-decoration: underline;
}

.future{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 60%;
    top: 72%;
    font-weight: 900;
    font-size: 20px;
    text-decoration: underline;
}

.clouds{
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 1;
    width:17%;
    height: 40%;
    display: flex;
}

.temp{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 39%;
    top: 39%;
    font-weight: bolder;
    color: #000000;
    z-index: 3;
    font-size: 30px;
}

.weath{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 37%;
    top: 65%;
    font-weight: bolder;
    color: #000000;
    z-index: 3;
    font-size: 30px;
}

.drop1{
    width: 10%;
    height: 36%;
    margin: 2 5 2 2;
    padding: 4 4 4 4;
    position: absolute;
    left: 8%;
    top: 15%;
}

.wind1{
    width: 40px;
    height: 40px;
    margin: 2 5 2 2;
    position: absolute;
    left: 40%;
    top: 15%;
}

.rain1{
    width: 40px;
    height: 40px;
    margin: 2 5 2 2;
    position: absolute;
    left: 75%;
    top: 15%;
}

.data1{
    align-items: center;
    position: absolute;
    left: 10%;
    top: 44%;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.data2{
    align-items: center;
    position: absolute;
    left: 39%;
    top: 44%;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.data3{
    align-items: center;
    position: absolute;
    left: 76%;
    top: 43%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    z-index: 3;
}

.container6{
    position: absolute;
    left: 45%;
    top: 22%;
    width: 11%;
    height: 5%;
    background-color: #fafafa;
    border-radius: 10px;
}

.date{
    position: absolute;
    top: -19%;
    font-size: 15px;
    white-space: nowrap;
}

.clouds1{
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 1;
    width:45%;
    height: 45%;
    display: flex;
}

.time1{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 25%;
    top: -10%;
    color: #000000;
}

.degree1{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 25%;
    top: 55%;
    color: #ffffff;
}

.time2{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 30%;
    top: -10%;
    color: #000000;
}
.sun{
    position: absolute;
    left: 30px;
    top: 25px;
    width:50%;
    height: 50%;
}
.degree2{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 29%;
    top: 60%;
    color: #000000;
}

.time3{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 19%;
    top: -10%;
    color: #000000;
}
.rain{
    position: absolute;
    left: 32px;
    top: 25px;
    width:50%;
    height: 50%;
}
.degree3{
    font-family: 'Crimson Text', serif;
    position: absolute;
    left: 39%;
    top: 60%;
    color: #000000;
}

.btn {
    position: absolute;
    left: 61%;
    top: 2%;
    width: 8%; /* Use relative unit */
    height: 7%; /* Use relative unit */
    background-color: #fafafa;
    border-radius: 20px;
    z-index: 3;
}


@media screen and (max-width: 750px) {   

    .headdesign{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#304879 , #8AA7E0 , #EEA7E3 );
        position: absolute;
        display: flexbox;
    }
    .searchbtn {
        width: 28vw; /* Use relative unit */
        height: 5.5vh; /* Use relative unit */
        z-index: 2;
        border-radius: 20px;
        position: absolute;
        left: 33%;
        top: 2%;
        border-color: bisque;
        border-width: 1px;
    }
    
    .btn {
        position: absolute;
        left: 63%; /* Use relative unit */
        top: 2%; /* Use relative unit */
        width: 12%; /* Use relative unit */
        height: 5.5%; /* Use relative unit */
        background-color: #fafafa;
        border-radius: 15px;
        z-index: 3;
    }

    .state{
        position: absolute;
        font-size: 30px;
        top: 8%;
        left: 35%;
    }

    .time{
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        color: black;
        left: 47%;
    }

    .container1{
        width: 60vw;
        height: 22vh;
        position: absolute;
        left: 24%;
        top: 23%;
    }

    .clouds{
        height: 9vh;
        width: 20vw;
        float: right;
        position: absolute;
        top: 14%;
        left: 32%;
    }

    .temp{
        position: absolute;
        left: 37%;
        top: 44%;
        font-weight: bolder;
        color: #000000;
        z-index: 3;
        font-size: 24px;
    }

    .weath{
        position: absolute;
        left: 35%;
        top: 65%;
        font-weight: bolder;
        color: #000000;
        z-index: 3;
        font-size: 25px;
    }

    .container6{
        position: absolute;
        left: 40%;
        top: 21%;
        width: 31%;
        height: 3.5%;
        display: flex;
        float: right;
    }

    .date{
        position: absolute;
        white-space: nowrap;
        font-size: 10px;
        top: -20%;
        left: 0px;
        display: grid;
    }
    
    .container2{
        position: absolute;
        left: 30%;
        top: 55%;
        width: 46%;
        height: 11%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;   
        white-space: nowrap;
    }

    .drop1{
        width: 19%;
        height: 36%;
        position: absolute;
        left: 6%;
        top: 15%;
    }

    .wind1{
        width: 14%;
        height: 30%;
        position: absolute;
        left: 43%;
        top: 17%;
    }
    .rain1{
        width: 20%;
        height: 30%;
        position: absolute;
        left: 75%;
        top: 17%;
    }

    .data1 , .data2 , .data3{
        font-size: 13px;
    }

    .today{
        
        position: absolute;
        left: 17%;
        top: 73%;
        font-weight: 900;
        font-size: 17px;
        text-decoration: underline;
    }

    .container3{
        position: absolute;
        left: 15%;
        top: 80%;
        width: 22%;
        height: 18%;
        background-image: linear-gradient(#d4c2c2 , #6d388b);
        border-radius: 10px;  
        padding: 4 , 4, 4 ,4 ;
        margin: 4 , 4 , 4 , 4;;  
    }

    .container4{
        position: absolute;
        left: 45%;
        top: 80%;
        width: 22%;
        height: 18%;
        background-image: linear-gradient(#fafafa , #eeeeee);
        border-radius: 10px;    
    }

    .container5{
        position: absolute;
        left: 75%;
        top: 80%;
        width: 22%;
        height: 18%;
        background-image: linear-gradient(#fafafa , #eeeeee);
        border-radius: 10px;    
    }

    .time1 , .time2 , .time3 {
        white-space: nowrap;
        font-size: small;
        font-weight: bold;
        left: 20%;
        top: 8%;
        position: absolute;
    }

    .clouds1{
        width: 40%;
        height: 46%;
        position: absolute;
        top: 23%;
        left: 29%;
    }
    .rain , .sun{
        width: 34%;
        height: 40%;
        position: absolute;
        left: 24%;
        top: 35%;
    }

    .future{
        font-size: large;
        position: absolute;
        top: 73%;
        right: 20%;
        font-size: 17px;
        white-space: nowrap;
    }

    .btnname{
        font-size: 8px;
        position: absolute;
        top: 20%;
        font-weight: bold;
        
    }

    .degree1 , .degree2 , .degree3{
        left: 20%;
        top: 65%;
        font-family: 'Courier New', Courier, monospace;
        color: #000000;
    }

  }

  